@if (recipeById()) {
  <div class="recipe-details">
  <h2>{{ recipeById()?.name }}
    @if(recipeById()?.isFavorite) {
    <span class="isFavorite">⭐</span>
  }
  </h2>
  <h4>{{ recipeById()?.description }}</h4>

  <img [src]="recipeById()?.imgUrl" [alt]="recipeById()?.name" width="300">
  <p>Ingredients: </p>
  <ul>
    @for (ingredient of adjustedIngredients(); track ingredient.id) {
      <li>
        <p>{{ ingredient.name }}</p>
        <p> quantity: {{ ingredient.quantity }}</p>
        <p> unit: {{ ingredient.unit }}</p>
      </li>
    }
  </ul>

  <button routerLink="/">Back to List</button>
</div>
}
@else {
  <div class="recipe-not-found">
    <p>Recipe Not Found</p>
  </div>
}